* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Bebas Neue", sans-serif;
}

.container {
  max-width: cover;
  margin: 0 auto;
  background: white;
  height: 100vh;
  background-image: url("background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.profile > img {
  width: 150px;
  height: 150px;
  border: 3px solid #222;
  border-radius: 100%;
}

.profile > p {
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: 2px;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  padding: 10px;
}

.profile > i {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  color: burlywood;
  text-align: center;
}

.linktree {
  display: flex;
  justify-content: center;
  /* diberi column agar box menu turun kebawah */
  flex-direction: column;
  padding: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1%;
  margin-bottom: 1%;
}

.linktree > a {
  text-decoration: none;
  color: #222;
  font-size: 24px;
  text-align: center;
  border: 3px solid #222;
  background-color: #eaeaea;
  border-radius: 7px;
  /* jarak antar box margin (atas/bawah) dan (kiri/kanan) */
  margin: 5px 10px;
  padding: 10px;
}

.linktree > a:hover {
  background-color: azure;
}

.footer {
  text-align: center;
}

.footer > i {
  color: burlywood;
  font-size: 20px;
}
